.main_layout {
  min-height: auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .main_layout {
    min-width: 400px;
    padding: 10px;
  }
}

.title_card {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--black);
  font-family: var(--ff_primary);
  font-size: 15px;
  font-weight: 700;
  margin: 0px;
}

.close_icon {
  height: 20px;
  width: 20px;
}
