:root {
  --ff_primary: "Nunito";
  --ff_secondary: "Bebas Neue", sans-serif;

  --text_color_primary: #ffffff;
  --text_color_secondary: #d3d3d6;
  --text_color_third: #828388;
  --text_color_four: #7c7c7c;

  --success: #96c986;
  --warning: #efd248;
  --danger: #ea5455;
  --white: #ffffff;
  --black: #000000;

  --constant_white: #ffffff;
  --constant_black: #000000;

  --bg_primary: #17181f;
  --bg_secondary: #242424;
  --bg_third: #111111;

  --accent_primary: #3651d9;
  --accent_secondary: #ff7a00;
  --accent_third: #00b81d;

  --icon_bg_primary: #c9c9c9;
  --icon_bg_secondary: #f0f0f0;

  --border_color_primary: #000000;
  --border_color_secondary: #4a4b52;
  --border_color_third: #dddddd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
