.main_layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_primary);
}

.error_text {
  color: var(--text_color_primary);
  font-size: 20px;
  font-weight: 600;
  font-family: var(--ff_primary);
}
